@import url('https://fonts.googleapis.com/css?family=Muli:300|Varela+Round');

body, html {
	background-color: whitesmoke !important;
	box-sizing: border-box;
}

.container {
	max-width:960px;
	padding: 1rem 2rem;
}

.alpha {Font-Family: 'Varela Round', Sans-Serif;}
.beta {Font-Family: 'Muli', Sans-Serif;}
section {padding: 2.5rem 0;}

.content-title {
	Font-Family: 'Varela Round', Sans-Serif;
	Font-Size: 25px;
	margin-bottom: .5rem;
	border-left: 1px solid turquoise;
	padding-left: .5rem;
}

.content-label {
	Font-Family: 'Varela Round', Sans-Serif;
	Font-Size: 20px;
	margin-left:.75rem;
	border-left: 1px solid turquoise;
	padding-left: .5rem;
}

.content-main {
	Font-Family: 'Varela Round', Sans-Serif;
	Font-Size: 18px;
	margin-left:1.5rem;
	padding-left: .5rem;
	display: inline-block;
}

.progress {
	position: fixed;
	border-radius:0;
	bottom:0;
	left:0;
	right:0;
	height:3px;
}

.divider {
	border-top: 1px solid turquoise;
	width:30%;
}

/*HERO
==================*/
.title {
	Font-Family: 'Varela Round', Sans-Serif;
	Font-Size: 48px;
}

.subtitle {
	Font-Family: 'Muli', Sans-Serif;
	Font-Size: 15px;
}

.hero {min-height: 95vh !important;}
.hero-body > .container > p {margin:0;}
.hero-body > .container > p:nth-child(1) {
	line-height: 4rem;
	border-left: 2px solid turquoise;
	padding-left: 1rem;
	margin-bottom: 2.5rem;
}
.hero-body > .container > p:nth-child(2) {
	padding-left: .5rem;
	line-height: 1.5rem;
	border-left: 2px solid turquoise;
	margin-left: 2rem;
}
.hero-body > .container > p:nth-child(3) {
	padding-left: .5rem;
	line-height: 1.2rem;
	margin-left: 3rem;
}

/*PROJECTS
==================*/
.skills {
	margin:.75rem;
	padding:1rem;
	background: #d8ecf3;
	display:grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:.75rem;
	justify-items:center;
	align-items:center; 
	border-radius:5px;
}

.skills > img {
	width:30px;
	height:30px;
}

.label-detail {
	Font-Family: 'Muli', Sans-Serif;
	Font-Size: 14px;
	margin:0 0 0 2rem;
	font-weight:bolder;
}

.label-info {
	list-style-type: initial;
	Font-Family: 'Muli', Sans-Serif;
	Font-Size: 14px;
	margin:0 0 1rem 3rem;
	line-height:18px;
}

/*FUN
==================*/
.vid-container {
	margin:0 auto;
	text-align: center;
}

.vid {
	border-radius: 5px;
	width:70%;
	height:auto;
}

/*CONTACT
==================*/
label {
	Font-Family: 'Muli', Sans-Serif;
	display: inline-block;
	margin:10px 0;
	padding-left:5px;
	border-left: 1px solid turquoise;
}

input[type="submit"] {
	border:1px solid turquoise;
	border-radius: 4px;
	background: turquoise;
	color:white;
	padding:5px;
	font-size:15px;
	margin-top:10px;
	cursor:pointer;
	width: 30%;
	font-weight: bold;
}

input[type="submit"]:hover {
	background: white;
	color:turquoise;
}

/*FOOTER
==================*/

footer {
	border-top: 1px solid turquoise;
	text-align: center;
	padding: 1.5rem 0;
}

footer > .content > a {
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	color:#C4C4C4;
	margin: 0 1rem;
}

footer > .content > a:hover {
	color:black;
}

/*MEDIA
==================*/
@media(min-width:960px) {
	.container {padding:1rem;}
	/*.skills {grid-template-columns:repeat(8,1fr);}*/
}