.fullpage {
    height:100vh;
    border-bottom: #eee solid 1px;
}

.first h1 {
    padding-top: 200px;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 80px;
    /*color:dimgray;*/
}

.first p {
    padding-top:80px;
    text-align: center;
    color:gray;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px; 
}

/*
.first {
    background-color: aliceblue;
}
*/

.fourth {
    background-color: cornflowerblue;
}

#icon {
    padding-right:25px;
}

#up {
    position:fixed;
    right:15px;
    bottom:15px;
    cursor:pointer;
}

#show {
    display:none;
}

@media (max-width: 767px) {
    #show {
        display: inherit;
    }
}

/*FADE IN'S*/

.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}