html, body {
    scroll-behavior: smooth;
}

.blacknwhite {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 3px;
  background-color: black;
  border-radius: 1px;
}

.fullpage {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 100vh;
    margin: auto;
    min-width: 375px;
    position: relative;
    width: 100vw;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 12vh;
    width: 100%;
    min-width: 375px;
    z-index: 11;
    /*border-bottom:1px solid white;*/
}

#sidebar-wrapper ul h2 {
    color:white;
    text-align:center;
}

#menu-toggle{
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 30px;
    position: absolute;
    top: 8vh;
    left: 6vw;
    font-size:20px;
}

.first h1 {
    margin-top: 28vh;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 10vh;
    vertical-align: middle;
    padding:0px 8vw 0px 8vw;
}

.first p {
    margin-top:13vh;
    text-align: center;
    color:gray;
    font-family: 'Catamaran', sans-serif;
    font-size: 2.6vh;
    padding:0px 8vw 0px 8vw;
}

@media screen and (max-width:767px) {
    .first h1 {
        margin-top:24vh;
    }
}

.second {
    background-image: url(../img/nyc59.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.second p #nyu {
    height:5.5vh;
    width:5.5vh;
}

.second p {
    display: table-cell;
    width: 50vw;
    max-width: 50vw;
    min-width: 200px;
    overflow: hidden;
    text-align: left;
    padding:14vh 12vw 0px 12vw;
    word-wrap: break-word;
    font-family: 'Catamaran', sans-serif;
    font-size: 3.5vh; 
    color:white;
}

.second p a {
    text-decoration: none;
    color:purple;
}

.third h1 {
    text-align: center;
    font-size:3vh;
    margin-top:10vh;
    padding:0px 8vw 0px 8vw;
    margin-bottom:10vh;
    font-family: 'Catamaran', sans-serif;
}

#contactmsg {
    padding: 0px 8vw 0px 8vw;
    font-size:6vh;
    text-align: center;

    /* space between top msg and box */
    margin-bottom:6vh;

    /* space between top and top msg */
    margin-top: 20vh;

    font-family: 'Catamaran', sans-serif;
}

#contactIcon {
    text-align: center;
    font-size:2vh;
}

#contactIcon a {
    display:inline-block;
    color:inherit;
    margin-right:3vh;
    -webkit-transition: all .25s ease; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -ms-transition: all .25s ease; /* IE 9 */
    -o-transition: all .25s ease; /* Opera */
    transition:all .25s ease;
}

#contactIcon a:hover {
    text-decoration: none;
    color: rgb(226, 18, 255);
    -webkit-transform:scale(1.26); /* Safari and Chrome */
    -moz-transform:scale(1.26); /* Firefox */
    -ms-transform:scale(1.26); /* IE 9 */
    -o-transform:scale(1.26); /* Opera */
    transform: scale(1.26);
}

#arrow {
    cursor: pointer;
    display: none;
    position: fixed;
    right:22px;
    bottom:25px;
    z-index: 11;
    -webkit-transition: bottom ease 0.2s;
    -moz-transition: bottom ease 0.2s;
    -ms-transition: bottom ease 0.2s;
    -o-transition: bottom ease 0.2s;
    transition: bottom ease 0.2s;
}

#arrow:hover {
    bottom:31px;
}
