.fullpage {
    height:100vh;
    border-bottom: #eee solid 1px;
}

.first h1 {
    margin-top: 28vh;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 10vh;
    vertical-align: middle;

    /*color:dimgray;*/
}

.first p {
    margin-top:13vh;
    text-align: center;
    color:gray;
    font-family: 'Catamaran', sans-serif;
    font-size: 2.6vh; 
}

.second {
    position:relative;
    overflow: hidden;
}

.second p #nyu {
    height:5.5vh;
    width:5.5vh;
}

.second img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

.second p {
    position:relative;
    margin-top: 8vh;
    font-size:4vh;
    float:left;
    color:white;
    font-family: 'Catamaran', sans-serif;
}

.second p a {
    text-decoration: none;
    color:purple;
}

@media screen and (max-width:767px) {
    .second img{
        height:100%;
        width:auto;
    }
}

@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    .second img{
        height:auto;
        width:100%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
    .second img {
        height:auto;
        width:100%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    .second img {
        height:100%;
        width:auto;
    }
}

.third h1 {
    text-align: center;
    font-size:3vh;
    margin-top:10vh;
    margin-bottom:10vh;
    font-family: 'Catamaran', sans-serif;
}

#contactmsg {
    font-size:6vh;
    text-align: center;

    /* space between top msg and box */
    margin-bottom:6vh;

    /* space between top and top msg */
    margin-top: 20vh;

    font-family: 'Catamaran', sans-serif;
}

#contactIcon {
    text-align: center;
    font-size:2vh;
}

#contactIcon a {
    display:inline-block;
    color:inherit;
    margin-right:3vh;
    -webkit-transition: all .25s ease; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -ms-transition: all .25s ease; /* IE 9 */
    -o-transition: all .25s ease; /* Opera */
    transition:all .25s ease;
}

#contactIcon a:hover {
    text-decoration: none;
    color: rgb(226, 18, 255);
    -webkit-transform:scale(1.26); /* Safari and Chrome */
    -moz-transform:scale(1.26); /* Firefox */
    -ms-transform:scale(1.26); /* IE 9 */
    -o-transform:scale(1.26); /* Opera */
    transform: scale(1.26);
}

.fav {
    margin-top:10vh;
    font-size:7vh;
}

#up {
    position:fixed;
    right:15px;
    bottom:15px;
    display: none;
    cursor:pointer;
}

#show {
    display:none;
}

@media (max-width: 767px) {
    #show {
        display: inherit;
    }
    .fav {
        margin-top:17vh;
    }
}

/*FADE IN'S*/

.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}